.vertical-nav
  min-width: 17rem
  width: 17rem
  height: 100vh
  position: fixed
  top: 0
  left: 0
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5)
  transition: all 0.4s
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
ul
  list-style-type: none
  padding: 0

li
  margin: 0em
  padding: 0.5em
  text-decoration: none
  display: block
a
  text-decoration: none
  font-size: large
  font-weight: 400
  color: rgb(2, 16, 61)
a:hover
  font-weight: 600

.page-content
  width: calc(100% - 17rem)
  margin-left: 17rem
  transition: all 0.4s

.card-body
  background-color: #e2e2e2

