<div class="container-fluid">
  <!--ESCOLHA DA DISCIPLINA-->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <!--TITULO-->
          <h2>Cadastro de Aluno</h2>
          <!--ABA PRINCIPAL E DISCIPLINA-->
          <div class="card">
            <div class="card-body">
              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link" (click)="alternarAba()">Principal</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" (click)="alternarAba()">Disciplinas</a>
                </li>
              </ul>
              <div class="container-fluid" id="tab-conteudo">
                <br/>
                <app-aluno-form-principal [model]="model" *ngIf="abaPrincipal"></app-aluno-form-principal>
                <app-aluno-form-disciplinas [disabled]="disabled" [model]="model" *ngIf="abaDisciplina"></app-aluno-form-disciplinas>
              </div>
            </div>
          </div>
          <!--ABA PRINCIPAL E DISCIPLINA FINAL-->
        </div>
      </div>
    </div>
  </div>
  <!--BOTOÕES-->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <!--TITULO-->
          <h6>Comandos</h6>
          <!--OPÇÕES-->
          <div class="btn-group">
            <a
              class="btn btn-primary active"
              aria-current="page"
              (click)="cmdSalvar()"
              *ngIf="!disabled"
              >Salvar</a
            >
            <a
              class="btn btn-primary"
              [routerLink]="['/', 'cadastros', 'aluno', 'listar']"
              >Cancelar</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
