<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img src="./../../../assets/foto1.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Aluno</h5>
          <p class="card-text">Dados do Aluno.</p>
          <a href="alunos" class="btn btn-primary">Clique Aqui</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img src="./../../../assets/foto2.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Boletim</h5>
          <p class="card-text">Confira as notas.</p>
          <a href="boletim" class="btn btn-primary">Clique Aqui</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img src="./../../../assets/foto3.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Disciplinas</h5>
          <p class="card-text">Cadastre as disciplinas.</p>
          <a href="disciplinas" class="btn btn-primary">Clique Aqui</a>
        </div>
      </div>
    </div>
  </div>
</div>
