<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Escola Angular</span>
  </div>
</nav>
<div>
  <div class="row">
    <!--BARRA DE NAVEGAÇÃO LATERAL-->
    <div class="col-sm-12 col-md-2">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="cadastros/aluno">Alunos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="cadastros/disciplina">Disciplinas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="relatorios/boletim">Boletim</a>
        </li>
      </ul>
    </div>
    <!--CONTEÚDO PRINCIPAL-->
    <div class="col-sm-12 col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
