<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-xl-4">
      <div class="card" style="width: 100%;">
        <img src=".\assets\foto1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Aluno</h5>
          <p class="card-text">Cadastro de alunos</p>
          <a href="cadastros/aluno" class="btn btn-primary">Clique aqui</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-xl-4">
      <div class="card" style="width: 100%;">
        <img src=".\assets\foto2.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Boletim</h5>
          <p class="card-text">Visualize o boletim</p>
          <a href="relatorios/boletim" class="btn btn-primary">Clique aqui</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-xl-4">
      <div class="card" style="width: 100%;">
        <img src=".\assets\foto3.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Disciplina</h5>
          <p class="card-text">Cadatro das disciplinas.</p>
          <a href="cadastros/disciplina" class="btn btn-primary">Clique aqui</a>
        </div>
      </div>
    </div>
  </div>
</div>
