<div class="container-fluid home">
  <div class="row home-conteudo">
    <div class="col-sm-12 col-md-3 col-xl-3 home-cartao">
      <div class="card" style="width: 18rem">
        <img src="./../../../../assets/foto1.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Disciplina</h5>
          <p>Lista de disciplinas</p>
          <a href="cadastros/disciplina" class="btn btn-primary">Entrar</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 col-xl-3 home-cartao">
      <div class="card" style="width: 18rem">
        <img src="./../../../../assets/foto2.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Aluno</h5>
          <p>Lista de alunos</p>
          <a href="cadastros/aluno" class="btn btn-primary">Entrar</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 col-xl-3 home-cartao">
      <div class="card" style="width: 18rem">
        <img src="./../../../../assets/foto3.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Boletim</h5>
          <p>Notas dos alunos</p>
          <a href="lancamentos/boletim" class="btn btn-primary">Entrar</a>
        </div>
      </div>
    </div>
  </div>
</div>
