<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <nav class="navbar">
        <div class="container-fluid">
          <span class="navbar-text"> Boletim </span>
        </div>
      </nav>
    </div>
    <div class="card-body">
      <div>
        <table class="table table-striped table-light table-hover">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nome</th>
              <th scope="col">Disciplina</th>
              <th scope="col">Nota</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Fulano</td>
              <td>Matematica</td>
              <td>100</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
